@import url(https://fonts.googleapis.com/css?family=Domine:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
[material] {
	position: relative;
	overflow: hidden;
	text-align: center;
	border: none;
	background: none;
}
button[material], [material][button] {
	appearance: none;
	-webkit-appearance: none;
	padding: 8px;
	border-radius: 2px;
	font: bold 12px montserrat;
	height: 36px;
	line-height: 18px;
	box-sizing: border-box;
	margin-right: 8px;
	min-width: 64px;
}
[material][accent]:not([disabled]) {
	background: #FFD740;
}
[material][disabled] {
	background: rgb(234, 234, 234);
}
[material][primary] {
	background: #cecece;
	width: 56px;
	height: 56px;
	-webkit-clip-path: circle(32px at 32px 32px);
	clip-path: circle(32px at 32px 32px);
	line-height: 32px;
	border-radius: 50%;
	font-size: 24px;
}
[material][raised] {
	border-radius: 3px;
}
[material][raised]:not([disabled]) {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
	transition: .3s all ease-in-out;
}
[material][raised]:not([colored]):not([accent]) {
	background: #dcdcdc;
}
[material][raised]:not([disabled]):hover,
[material][raised]:not([disabled]):active {
	box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 10px 5px rgba(0, 0, 0, 0.22);
	transform: translateY(-2px);
}
[material][raised][colored] {
	color: #fff;
	background: #3F51B5;
}
[material][secondary] {
	background: #cecece;
	width: 40px;
	height: 40px;
	-webkit-clip-path: circle(40px at 20px 20px);
	clip-path: circle(40px at 20px 20px);
	line-height: 16px;
	border-radius: 50%;
	font-size: 18px;
}
[material]:focus {
	outline: none;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	padding-left: -9999px;
	outline: none;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left:0; top: 2px;
	width: 15px; height: 15px;
	box-sizing: border-box;
	border: 2px solid silver;
	background: #fafafa;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: 'x';
	position: absolute;
	top: 0px; left: 4px;
	font-family: sans-serif;
	font-size: 16px;
	color: #FFD740;
	transition: all 0.3s;
}
@-moz-document url-prefix() {
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: 'x';
		position: absolute;
		top: 0px; left: 4px;
		font-family: sans-serif;
		font-size: 20px;
		color: #FFD740;
		transition: all 0.3s;
	}
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left:0; top: 2px;
		width: 17px; height: 17px;
		box-sizing: border-box;
		border: 2px solid silver;
		background: #fafafa;
	}
}
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
}
[type="checkbox"]:checked + label:after {
	opacity: 1;
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
[type="checkbox"]:disabled + label {
	color: #aaa;
}
[type="checkbox"]:disabled + label:hover:before, [type="checkbox"]:disabled:focus + label:before {
	border: 1px solid gray !important;
}
[type="checkbox"]:not(:disabled) + label:hover:before, [type="checkbox"]:not(:disabled):focus + label:before {
	border: 2px solid #FFD740 !important;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: domine;
	background: #FAFAFA;
}
h1 {
	background: #3F51B5;
	margin: 0;
	padding: 1em;
	color: white;
	border-bottom: 10px solid #303F9F;
}
h1, h2, h3, h4, h5, h6 {
	font-family: montserrat;
}
#main {
	margin: 5%;
	font-family: domine;
}
a {
	color: #FFAB00;
}
[type="text"], [type="password"] {
	padding: 8px;
	outline: none;
	font: 15px montserrat;
	border: 2px solid silver;
	transition-duration: 0.3s;
}
[type="text"]:focus, [type="password"]:focus {
	border: 2px solid #FFD740;
}
form input {
	margin-top: 5px;
	margin-bottom: 5px;
}
#modal-dialog {
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transition-duration: 0.3s;
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -30%);
	-webkit-transform: translate(-50%, -30%);
	-ms-transform: translate(-50%, -30%);
	background: #3F51B5;
	width: 50%;
	height: 50%;
	transition-duration: 0.3s;
	border-radius: 5px 5px 10px 10px;
	box-sizing: border-box;
	padding: 0;
	max-height: 500px;
	overflow: hidden;
	transform-origin: center;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
}
#modal-dialog.active {
	visibility: visible;
	opacity: 1;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#modal-overlay {
	position: absolute;
	display: block;
	visibility: hidden;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width:100%;
	height:100%;
	z-index: 999;
	background: rgba(83, 97, 79, 0.35);
	opacity: 0;
	transition-duration: 0.3s;
}
#modal-overlay.active {
	visibility: visible;
	opacity: 1;
}
#modal-dialog-content {
	width: 100%;
	height: 70%;
	overflow-y: auto;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
}
#modal-dialog-content::-webkit-scrollbar {
	display:none;
}
#modal-dialog-dismiss-buttons {
	width: 100%;
	height: 30%;
	max-height: 60px;
	font-weight: bold;
	font-family: Montserrat;
	padding: 0;
	position: absolute;
	bottom: 0;
	border-spacing: 0;
}
#modal-dialog-dismiss-row { width: 100%; }
#modal-dialog-dismiss-row td {
	line-height: 100%;
	text-align: center;
	margin: 0;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.2);
	transition-duration: 0.3s;
}
#modal-dialog-dismiss-row td:hover {
	background: rgba(255, 255, 255, 0.3);
}
#modal-dialog-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
#modal-overlay:active + #modal-dialog {
	animation: anim-grab-attention 0.15s linear;
	-webkit-animation: anim-grab-attention 0.15s linear;
}
h1 a {
	text-decoration: none;
	color: white;
}
.hidden_password {
	display: block;
	visibility: hidden;
	opacity: 0;
	transition-duration: 0.3s;
	transform: scaleY(0);
	-webkit-transform: scaleY(0);
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.hidden_password.show {
	height: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	transform: scaleY(1);
	-webkit-transform: scaleY(1);
	visibility: visible;
	opacity: 1;
}
