@import url(https://fonts.googleapis.com/css?family=Domine:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@charset "UTF-8";

.navicon-button {
	display: inline-block;
	position: relative;
	padding: 2px;
	transition: 0.25s;
	user-select: none;
	-webkit-user-select: none;
}
.navicon-button .navicon:before, .navicon-button .navicon:after {
	transition: 0.25s;
}
#option-icon-container:hover .navicon-button {
	transition: 0.5s;
}
#option-icon-container:hover .navicon-button .navicon:before, #option-icon-container:hover .navicon-button .navicon:after {
	transition: 0.25s;
}

.navicon {
	position: relative;
	width: 2.5em;
	height: .3125rem;
	background: white;
	transition: 0.5s;
}
.navicon:before, .navicon:after {
	display: block;
	content: "";
	height: .3125rem;
	width: 2.5rem;
	background: white;
	position: absolute;
	transition: 0.5s 0.25s;
}
.navicon:before {
	top: .625rem;
}
.navicon:after {
	top: -.625rem;
}
.t-icon.open {
	transform: scale(0.75);
	-webkit-transform: scale(0.75);
}
.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
	top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
	transition: 0.5s;
}

.open.x .navicon {
	background: transparent;
}
.open.x .navicon:before {
	transform: rotate(-45deg);
}
.open.x .navicon:after {
	transform: rotate(45deg);
}

#option-icon-container {
	overflow: hidden;
	background: #3F51B5;
	position: fixed;
	right: 50px;
	bottom: 50px;
	border-radius: 50%;
	line-height: 80px;
	text-align: center;
	width: 80px;
	height: 80px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	z-index: 10;
}
.option {
	overflow: hidden !important;
	background: #3F51B5 !important;
	position: fixed !important;
	right: 55px;
	bottom: 55px;
	border-radius: 50%;
	line-height: 70px;
	text-align: center;
	width: 70px;
	height: 70px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	color: white;
	user-select: none;
	-webkit-transform: translateZ(0);
	-webkit-user-select: none;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}
.option:not(#option-icon-container) * {
	vertical-align: middle;
}
#option-1.open { bottom: 150px; }
#option-2.open { bottom: 240px; }
#option-3.open { bottom: 330px; }
#option-4.open { bottom: 420px; }

.option.open {
	right: 50px;
	width: 80px;
	height: 80px;
	line-height: 80px;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

[material] {
	position: relative;
	overflow: hidden;
	text-align: center;
	border: none;
	background: none;
}
button[material], [material][button] {
	appearance: none;
	-webkit-appearance: none;
	padding: 8px;
	border-radius: 2px;
	font: bold 12px montserrat;
	height: 36px;
	line-height: 18px;
	box-sizing: border-box;
	margin-right: 8px;
	min-width: 64px;
}
button[material] + button[material], [material][button] + [material][button] {
	margin-top: 8px;
}
[material][accent]:not([disabled]) {
	background: #FFD740;
}
[material][disabled] {
	background: rgb(234, 234, 234);
}
[material][primary] {
	background: #cecece;
	-webkit-clip-path: circle(32px at 32px 32px);
	clip-path: circle(32px at 32px 32px);
	line-height: 32px;
	border-radius: 50%;
	font-size: 24px;
}
[material][raised]:not([disabled]) {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
	transition: .3s all ease-in-out;
}
[material][raised]:not([colored]):not([accent]) {
	background: #dcdcdc;
}
[material][raised]:not([disabled]):hover,
[material][raised]:not([disabled]):active {
	box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 10px 5px rgba(0, 0, 0, 0.22);
	transform: translateY(-2px);
}
[material][raised][colored] {
	color: #fff;
	background: #3F51B5;
}
[material][secondary] {
	background: #cecece;
	width: 40px;
	height: 40px;
	-webkit-clip-path: circle(40px at 20px 20px);
	clip-path: circle(40px at 20px 20px);
	line-height: 16px;
	border-radius: 50%;
	font-size: 18px;
}
[material]:focus {
	outline: none;
}
.ripple {
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, .2);
	border-radius: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.ripple.animate {
	-webkit-animation: ripple 0.65s linear;
	animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
	100% {
		opacity: 0;
		-webkit-transform: scale(2.5);
		transform: scale(2.5);
	}
}
@keyframes ripple {
	100% {
		opacity: 0;
		-webkit-transform: scale(2.5);
		transform: scale(2.5);
	}
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	padding-left: -9999px;
	outline: none;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left:0; top: 2px;
	width: 15px; height: 15px;
	box-sizing: border-box;
	border: 2px solid silver;
	background: #fafafa;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: 'x';
	position: absolute;
	top: 0px; left: 4px;
	font-family: sans-serif;
	font-size: 16px;
	color: #FFD740;
	transition: all 0.3s;
}
@-moz-document url-prefix() {
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: 'x';
		position: absolute;
		top: 0px; left: 4px;
		font-family: sans-serif;
		font-size: 20px;
		color: #FFD740;
		transition: all 0.3s;
	}
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left:0; top: 2px;
		width: 17px; height: 17px;
		box-sizing: border-box;
		border: 2px solid silver;
		background: #fafafa;
	}
}
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
}
[type="checkbox"]:checked + label:after {
	opacity: 1;
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
[type="checkbox"]:disabled + label {
	color: #aaa;
}
[type="checkbox"]:disabled + label:hover:before, [type="checkbox"]:disabled:focus + label:before {
	border: 1px solid gray !important;
}
[type="checkbox"]:not(:disabled) + label:hover:before, [type="checkbox"]:not(:disabled):focus + label:before {
	border: 2px solid #FFD740 !important;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: domine;
	background: #FAFAFA;
	backface-visibility: hidden;
}
h1 {
	background: #3F51B5;
	margin: 0;
	padding: 1em;
	color: white;
	border-bottom: 10px solid #303F9F;
}
h1, h2, h3, h4, h5, h6 {
	font-family: montserrat;
}
h1 a:focus {
	outline: none;
}
.splitter-table {
	width: 100%;
	table-layout: fixed;
}
.splitter-table > tbody > tr > td {
	vertical-align: top;
	text-align: left;
}
.splitter-table > tbody > tr > td > * {
	margin-top: 0;
}
#main {
	margin: 5%;
	font-family: domine;
}
a {
	color: #FFAB00;
}
[type="text"], [type="password"] {
	padding: 8px;
	outline: none;
	font: 15px montserrat;
	border: 2px solid silver;
	transition-duration: 0.3s;
}
[type="text"]:focus, [type="password"]:focus {
	border: 2px solid #FFD740;
}
form input, form button {
	margin-top: 5px;
	margin-bottom: 5px;
}
#modal-dialog {
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transition-duration: 0.3s;
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -30%);
	-webkit-transform: translate(-50%, -30%);
	-ms-transform: translate(-50%, -30%);
	background: #3F51B5;
	width: 50%;
	height: 50%;
	transition-duration: 0.3s;
	border-radius: 5px 5px 10px 10px;
	box-sizing: border-box;
	padding: 0;
	max-height: 500px;
	overflow: hidden;
	transform-origin: center;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
}
#modal-dialog.active {
	visibility: visible;
	opacity: 1;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#modal-overlay {
	position: absolute;
	display: block;
	visibility: hidden;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width:100%;
	height:100%;
	z-index: 999;
	background: rgba(83, 97, 79, 0.35);
	opacity: 0;
	transition-duration: 0.3s;
}
#modal-overlay.active {
	visibility: visible;
	opacity: 1;
}
#modal-dialog-content {
	width: 100%;
	height: 70%;
	overflow-y: auto;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
}
#modal-dialog-content::-webkit-scrollbar {
	display:none;
}
#modal-dialog-dismiss-buttons {
	width: 100%;
	height: 30%;
	max-height: 60px;
	font-weight: bold;
	font-family: Montserrat;
	padding: 0;
	position: absolute;
	bottom: 0;
	border-spacing: 0;
	table-layout: fixed;
}
#modal-dialog-dismiss-row { width: 100%; }
#modal-dialog-dismiss-row td {
	line-height: 100%;
	text-align: center;
	margin: 0;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.2);
	transition-duration: 0.3s;
}
#modal-dialog-dismiss-row td.default-button {
	text-decoration: underline;
}
#modal-dialog-dismiss-row td:hover {
	background: rgba(255, 255, 255, 0.3);
}
#modal-dialog-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
#modal-overlay:active + #modal-dialog {
	animation: anim-grab-attention 0.15s linear;
	-webkit-animation: anim-grab-attention 0.15s linear;
}
h1 a {
	text-decoration: none;
	color: white;
}
.hidden_password {
	display: block;
	visibility: hidden;
	opacity: 0;
	transition-duration: 0.3s;
	transform: scaleY(0);
	-webkit-transform: scaleY(0);
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.hidden_password.show {
	height: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	transform: scaleY(1);
	-webkit-transform: scaleY(1);
	visibility: visible;
	opacity: 1;
}
.cv-table {
	border-collapse: collapse;
}
.cv-table td {
	border: 2px solid silver;
	padding: 10px;
	text-align: center;
}
.cv-table thead td {
	font-family: montserrat;
}
#chess-board {
	position: absolute;
	top: 0;
	left: 0;
}
#chess-board-container {
	position: relative;
	width: 50%;
}
#chess-board-container:before {
	position: relative;
	padding-top: 100%;
	display: block;
	content: "";
}
[z="1"] {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
[z="2"] {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
[z="3"] {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
[z="4"] {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
[z="5"] {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
#msg-input {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
}
table.splitter-table[cellspacing] td {
	background: #EEEEEE;
	box-sizing: border-box;
	padding: 15px;
}
.allow-scroll {
	overflow-y: auto;
}
.inner-container-absolute {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
h3.white-player {
	background: white;
	color: #333333;
}
h3.white-player#your-username {
	border-top: 2px solid #333333;
}
h3.white-player#opponent-username {
	border-bottom: 2px solid #333333;
}
h3.black-player {
	background: #333333;
	color: white;
}
h3.white-player, h3.black-player {
	padding: 15px;
	text-align: center;
	-webkit-margin-after: 0em;
}
#your-username {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin-bottom: 0;
}
#game-buttons {
	padding: 15px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	text-align: center;
	left: 0;
	right: 0;
}
